@charset "utf-8";
@import url("adv_ch.css");

.advAll li{
	float:left;
	padding:6px 0 0 0;
	margin:0;
	list-style:none;
	height:65px;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	line-height:18px;
}

.advAll li span{
	font-size:14px;
	color:#5ec1ff;
}

.advAll li P{
	padding:0;
	line-height:12px;
	color:#FFF;
	font-size:11px;
	letter-spacing:1pt;
}